In [1]:
#Q1. Create one variable containing following type of data:
a="Data Science"

In [2]:
a

'Data Science'

In [3]:
type(a)

str

In [4]:
l=[2,3,4,"Data", "Science",12.345]

In [5]:
l

[2, 3, 4, 'Data', 'Science', 12.345]

In [6]:
type(l)

list

In [7]:
b=34.980

In [8]:
type(b)

float

In [13]:
mytuple=("Monday","Tuesday","Wednesday")

In [14]:
type(mytuple)

tuple

In [ ]:
#Q2. Given are some following variables containing data:
var1 = ‘ ‘

In [23]:
type(var1)

NameError: name 'var1' is not defined

In [24]:
var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (3990704681.py, line 1)

In [25]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

SyntaxError: invalid character '‘' (U+2018) (899486036.py, line 1)

In [26]:
type(var3)

NameError: name 'var3' is not defined

In [ ]:
var4 = 1

In [20]:
type(var4)

int

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [27]:
#The / operator is used for diving the number.
8/2

4.0

In [28]:
# The modulas opertor gives the remainder of division
8%2

0

In [29]:
#  this opertor gives the floor of number
8//2

4

In [ ]:
# This operator is used to find the power of number.

In [30]:
2**3

8

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [37]:
l=[1,2,3,4,5,"Data", True, "Science","list","skill",8.456]
for i in l:
    print (i)

1
2
3
4
5
Data
True
Science
list
skill
8.456

In [ ]:
l=[1,2,3,4,5,"Data", True, "Science","list","skill",8.456]
for i in l:
    print(type(i))

In [40]:
type(i)

float

In [ ]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [ ]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [76]:
l=[2,3,5,6,7,8,9,66,30,99,34,23,43,54,87,34,65,87,98,900,33,32,43,65,76,31]
for i in l:
    if i % 3 == 0:
        print(i)

3
6
9
66
30
99
54
87
87
900
33

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [77]:
l=[1,2,3,4,5,"Data", True, "Science","list","skill",8.456]

In [78]:
l[7]=False

In [79]:
l

[1, 2, 3, 4, 5, 'Data', True, False, 'list', 'skill', 8.456]

In [ ]:
#In the list we can change the index number value called as mutuable

In [85]:
s="Data Science"

In [86]:
s

'Data Science'

In [87]:
s[3]=b

TypeError: 'str' object does not support item assignment

In [ ]:
#we can not change the index number value in string called as imutable